@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Курсовой проект на тему: Деканат, система учёта ВКР</p>
<p>Выполнил: Студент группы ИСТ-117 Евдокимов С.П.</p>
<p>Почта для связи: Telekines1551@gmail.com</p>
<p>Я в ВК: vk.com/freeroed</p>
