@{
    ViewBag.Title = "AdminStartPage";
}

<h2>This is admins start page</h2>
<h2>Данная страница наодится на стадии разработки, в блиайшее время всё починим</h2>
@if (User.IsInRole("admin"))
{
    <h2>Я админ</h2>
}
@if (User.IsInRole("student"))
{
    <h2>Я студент</h2>
}
