@model IEnumerable<Decanat.Models.DecanatModels.Answer>
@{
    ViewBag.Title = "Home Page";
}

@if (User.IsInRole("admin"))
{
    <h2>Я админ</h2>
}
else
{
    if (User.IsInRole("student"))
    {
        <h2>Я студент</h2>
    }
    if (User.IsInRole("teacher"))
    {
        <h2>Я преподаватель</h2>
        <table class="table">
            <tr>
                <th>
                    Название работы
                </th>
            </tr>
            @foreach(var item in Model)
            {
        <tr>
            @Html.DisplayFor(modelItem => item.ToString())
        </tr>
            }
        </table>

    }
    else
    {
        <h2>Для доступа к возможностям сервиса вам необходимо пройти авторизацию</h2>

    }
}
